pandas>=1.3.0
fastai>=2.5.0
streamlit>=1.0
torch>=1.9.0
nltk>=3.6.0
textstat>=0.7.1
transformers>=4.0.0
sentence-transformers>=2.0.0
sentencepiece
pytorch-ignite==0.5.0.post2
pytorch-lightning==2.2.5
numpy @ file:///home/conda/feedstock_root/build_artifacts/numpy_1707225380409/work/dist/numpy-1.26.4-cp310-cp310-linux_x86_64.whl#sha256=51131fd8fc130cd168aecaf1bc0ea85f92e8ffebf211772ceb16ac2e7f10d7ca